:root{
    --main-yellow:rgba(237, 255, 162, 0.8);
}

.tituloSite.light{
    color: black;
}

/* Global CSS */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Faz com que o body ocupe toda a altura da tela */
}

#root {
  min-height: 100%; /* Garante que o conteúdo ocupe pelo menos 100% da altura */
  display: flex; /* Permite usar flexbox */
  flex-direction: column; /* Alinha os filhos na vertical */
}
