.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Substitua pelo peso desejado */
    font-style: italic;
    font-weight: 700;
  }
  

/* Ajuste da fonte da div pai do Search em telas menores */
@media (max-width: 500px) {
    .search-container {
        font-size: 0.3rem; /* Ajuste para o tamanho de fonte desejado em telas pequenas */
    }
}

/* Para textos específicos dentro da div pai */
@media (max-width: 500px) {
    .inter {
        font-size: 0.5rem; /* Ajuste o tamanho do texto conforme necessário */
    }
}
